.loanBox {
    border: rgb(0,0,0) 3px solid;
    margin: 9px;
    padding: 3px;
    width: 25%;
    justify-self: center;
    display: grid;
    grid-template-areas: ". .";
}

.outerDiv {
    display: grid;
    grid-template-areas: " . ";
}

p {
    margin: 2px;
}

.bookTitle {
    font-size: 12pt;
}

.author {
    font-size: 11pt;
    color: rgb(128, 128, 128);
}

button {
    justify-self: right;
    align-self: center;
    height: max-content;
    width: max-content;
}