form {
    display: grid;
    grid-template-areas:
            "nameLabel firstNameInput firstNameInput middleNameInput lastNameInput lastNameInput"
            "emailLabel emailInput emailInput emailInput emailInput emailInput"
            "phoneLabel phoneInput phoneInput phoneInput phoneInput phoneInput"
            "adressLabel streetInput houseNumberInput postalCodeInput townInput countryInput"
            "notesLabel notesInput notesInput notesInput notesInput notesInput"
            ". . submit . . .";
    width: 50%;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.submitButton {
    grid-area: submit;
}

.adressLabel {
    grid-area: adressLabel;
}

.streetInput {
    grid-area: streetInput;
}

.houseNumberInput {
    grid-area: houseNumberInput;
}

.postalCodeInput {
    grid-area: postalCodeInput;
}

.townInput {
    grid-area: townInput;
}

.countryInput {
    grid-area: countryInput;
}

textarea {
    grid-area: notesInput;
}

.emailLabel {
    grid-area: emailLabel;
}

.emailInput {
    grid-area: emailInput;
}

.phoneLabel {
    grid-area: phoneLabel;
}

.phoneInput {
    grid-area: phoneInput;
}

.nameLabel {
    grid-area: nameLabel;
}

.firstNameInput{
    grid-area: firstNameInput;
}

.middleNameInput {
    grid-area: middleNameInput;
}

.lastNameInput {
    grid-area: lastNameInput;
}

.notesLabel {
    grid-area: notesLabel;
}

body {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    grid-gap: 5px;
}

h1 {
    margin:auto;
    text-align: center;
    width: 99%;
}

