input {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

textarea {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

select {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

h1 {
    margin:auto;
    text-align: center;
    width: 99%;
}